<html lang="en-us">

<head>
  <title>ParametricFlightInsurance</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Site Metas -->
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Site Icons -->
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="./../stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="./../stylesheets/fontawesome.css">
  <link rel="stylesheet" href="./../stylesheets/all.css">
  <link rel="stylesheet" href="./../stylesheets/style.css">
</head>

<body id="page-top" class="politics_version background-color-grey" >
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/">
      <h2 class="logo">ParametricFlightInsurance</h2>
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto" style="font-family: Arial;font-size: 15px;">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger active" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#team">Our Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/signup">Signup</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section id="home" class="main-banner parallaxie" style="">
  <div class="heading">
    <h1>Welcome to ParametricFlightInsurance</h1>
    <div class="btn-ber">
      <a class="get_btn js-scroll-trigger" href="#services">Get started</a>
    </div>
  </div>
</section>

<div id="about" class="section wb">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="message-box">
          <h2>About Parametric Flight Insurance</h2>
          <p>Modern technology can easily be used to simplify the insurance claim process by gaining the trust of customers. The rise of technologies such as Blockchain, Smart contracts and Artificial intelligence can be used to create applications which can automate the process by initiating the transaction on the occurrence of the event. This will help to reduce a large amount of administrative work required to prove the claimed reason.

            Blockchain will provide a foundational technology to promote transparency, security, and trust on the insurance based applications. Blockchain uses the public ledger and logging mechanism to eliminate the duplicate or fraudulent transactions. Blockchain possesses a decentralized repository to validate the authenticity of the policies or transactions. The block of transactions stored makes it challenging to corrupt the data, therefore, improving the security perspective of the application.</p>
        </div><!-- end messagebox -->
      </div><!-- end col -->

      <div class="col-md-6">
        <div>
          <img style="height: 300px" src="images/about.jpeg">
        </div><!-- end media -->
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
</div><!-- end section -->

<div id="services" class="section lb">
  <div class="container">
    <div class="row">
      <a href="/users/purchasePolicy" class="col-md-5 mapdata purchase" style="margin-left: 50px;margin-top: 20px;border: 1px solid; text-align: center;">
        <div style="margin-top: 52%;color: black; font-weight: 900;font-size: 36px;">Purchase policy</div>
      </a>

      <a href="/users/trackPolicy" class="col-md-5 ranking track" style="margin-left: 50px;margin-top: 20px;border: 1px solid;">
        <div style="margin-top: 54%;color: black; font-weight: 900;font-size: 36px;text-align: center;">Track policy</div>
      </a><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
</div><!-- end section -->

<div id="team" class="section wb">
  <div class="container">
    <div class="section-title text-center">
      <h3>Our Team</h3>
    </div><!-- end title -->

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="images/jainul.jpg">
          </div>
          <div class="team-content">
            <h3 class="title">Jainul</h3>
            <span class="post"></span>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="images/divya.jpg">
          </div>
          <div class="team-content">
            <h3 class="title">Divya</h3>
            <span class="post"></span>

          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="images/Divyank.png">
          </div>
          <div class="team-content">
            <h3 class="title">Divyank</h3>
            <span class="post"></span>

          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="images/manasa.jpg">
          </div>
          <div class="team-content">
            <h3 class="title">Manasa</h3>
            <span class="post"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="copyrights" style="height: 80px;">
  <div class="container">
    <div class="footer-distributed" style="float: left;">
      <div class="footer-right">
        <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">ParametricFlightInsurance</a>
      </div>
    </div>
  </div><!-- end container -->
</div><!-- end copyrights -->

<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

</body>
</html>
